#almuerzoPage {
    display: flex;
}

#meals, #orders {
    background-color: #fff;
    flex-grow: 1;
    font-family: monospace;
    line-height: 22px;
}

#meals {
    margin-right: 10px;
}

#meals-list li:not(.selected), #orders-list {
    list-style-type: none;
}

#meals-list li {
    cursor: pointer;
    margin-bottom: 10px;
    width: max-content;
}

#cargando {
    font-weight: bold;
    line-height: 2px;
}

#submit {
    background-color: #2a91bd;
    color: #fff;
    border: none;
    border-radius: 25px;
    display: block;
    margin: 15px auto;
    padding: 10px 15px;
}

#submit:disabled {
    background-color: #ccc;
}

.selected {
    background-color:#ecece9;
}